# Replace this with your domain name.
*.home.easyselfhost.com {
    # You don't need this if you host on the public Internet (e.g. with a public IP)
    tls {
        dns cloudflare {env.DNS_PROVIDER_TOKEN}
    }

    @paperless host paperless.home.easyselfhost.com
    handle @paperless {
        reverse_proxy paperless:8000
    }

    @filebrowser host files.home.easyselfhost.com
    handle @filebrowser {
        reverse_proxy filebrowser:80
    }

    @jellyfin host media.home.easyselfhost.com
    handle @jellyfin {
        reverse_proxy jellyfin:8096
    }

    @pyload host pyload.home.easyselfhost.com
    handle @pyload {
        reverse_proxy pyload:8000
    }

    @adguard host adguard.home.easyselfhost.com
    handle @adguard {
        reverse_proxy adguard:3000
    }

    @kopia host kopia.home.easyselfhost.com
    handle @kopia {
        reverse_proxy kopia:80
    }

    @immich host immich.home.easyselfhost.com
    handle @immich {
        reverse_proxy immich-server:3001
    }

    @chat host chat.home.easyselfhost.com
    handle @chat {
        reverse_proxy open-webui:8080
    }

    # optional. uncomment it if you have other ollama clients
    # @ollama host ollama.home.easyselfhost.com
    # handle @ollama {
    #     reverse_proxy ollama:11434
    # }
}
